<p id="notice"><%= notice %></p>

<h1>Exercizes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Workout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercizes.each do |exercize| %>
      <tr>
        <td><%= exercize.name %></td>
        <td><%= exercize.weight %></td>
        <td><%= exercize.workout_id %></td>
        <td><%= link_to 'Show', exercize %></td>
        <td><%= link_to 'Edit', edit_exercize_path(exercize) %></td>
        <td><%= link_to 'Destroy', exercize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercize', new_exercize_path %>
